/* COMMON */
body { 
  color: #333;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}
img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box; /* padding,border가 들어가도 요소가 커지지 않도록 픽스 */
  display: block;
  transition: .4s; /* 배경, 글자색상 자연스럽게 해주기 */
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}

.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}



/* HEADER */
header {
  width: 100%; /* ② position: fixed/absolute 사용 시 가로넓이가 최소한으로 줄여드려고 하기 때문 */
  /* position: relative; */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed; /* ① badges를 뷰포트를 기준으로 배치하는 것 */
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 120px;
}

header .logo { 
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* display: none; */
}

header .sub-menu {
  position: absolute;
  top: 10;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: "";
  display: block; /* ⓶ 그래서 여기는 지워도 된다 */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute; /* ⓵ 요소의 display가 블록으로 변한다 */
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
  
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  height: 36px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 36px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

/* 코드 재확인 필요 */
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /* 사이트 광고까지 가릴 수 있도록 우선순위 부여 */
  display: flex;
}

header .main-menu .item {

}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0; /* 곧 입력할 콘텐츠 위치 일까? */
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block; /* 블록으로 만들어야 화면에 출력되는 구조가 만들어진다. */
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
  /* height: 200px; contents가 채워지면 높이는 지워서 auto로 만들어준다. */
}

header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

/* header .main-menu .item .item__contents .contents__menu > ul > li ul {

} */

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  /* background-color: orange;
  height: 100px; */
  padding: 12px;
  font-size: 12px;
  background-image: url(../images/main_menu_pattern.jpg);
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;

}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;

}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden; /* 둥굴게 깎인 모서리 밖으로 이미지가 넘치지 않게 한다. */
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}


/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url(../images/visual_bg.jpg);
  background-position: center; /* 배경 이미지를 정 가운데 하나만 넣겠다. */
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}


/* NOTICE */
.notice {

}

.notice .notice-line {
  position: relative;
  /* ②inner 부모 요소로 별도 높이값 없어서 height 기본값 auto로 세로 넓이가 최대한 줄여들려고 한다. */
  /* ④다시말해 notice-line의 높이가 200px로 되고 */
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* 가로 너비 50% 활용 */
  height: 100%; /* ⑤여기 배경색상은 높이 100% 상태를 채우려고 하기 떄문에 */
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%; /* ⑤여기 배경색상은 높이 100% 상태를 채우려고 하기 떄문에 inner 높이값이 최대한으로 늘어나려고 하는 것이다. */
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  /* height: 200px; ①inner 높이 200px 지정 후 적용되는 이유 */
  /* ③inner의 높이 값 지정으로 높이200px로 적용된다. */
  /* ⑥결국, inner 높이값 지정으로 notice-line, bg-left/right 높이값을 한번에 제어하고 있다. */
  /* border: 2px solid red; 영역 확인 */
  display: flex; /* inner 박스 블럭 성질을 인라인으로 바꾸는 것. 즉,자식요소 inner__left,right가 수평이 되면서 2번 박스(inner__right)가 수평정렬 된다. */
}

.notice .notice-line .inner__left {
  width: 55%;
  height: 100%;
  background-color: #333;
  display: flex; /* h2,.swiper-contatiner,.notice-line__more 내 밑으로 헤처모여 박스들 수평정렬 */
  align-items: center; /* 1.기본값 strach가 center로 바뀌면서 */
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  height: 62px; /* 3.높이값을 다시 주면 원래대로 돌아온다. */
  /* background-color: orange; 2.해당 auto높이??가 풀리면서 적용이 안된다. */
  flex-grow: 1; 
  /* 최대한 늘어나라 */
}

.notice .notice-line .inner__left .swiper-slide {
  height: 63px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex; /* 아이콘 가운데 정렬 밑작업 으로 h2(박스1),swiper-contatiner(박스2),notice-line__more(박스3)이 수평으로 성질 전환됨. */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper-container {
  width: calc(819px * 3 + 20px);
  /* width: calc(100% - 50%); */
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%; /* 현재 뷰포트 화면의 50% */
  margin-left: calc((819px * 3 + 20px) / -2); 
  /* -1238.5px */
}

.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s; /* 자연스럽게 투명도가 바뀌게 전환효과 넣어준다 */
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0; /* 제일 아랫 쪽에 배치한다. */
  left: 0;
  right: 0;
  margin: auto; /* 가운데 지점으로 배치 */
  /* width: 130px 가로너비가 있어야 margin auto를 통해 브라우저가 여백을 자동으로 계산 해주는데 btn 가로너비를 공통으로 지정을 해놨기에 따로 적지 않는다. */
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px; /* bullet 사이사이 여유 간격 */
  /* outline: none; */
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0; /* 가장 마지막 동그라미 오린쪽 여백 뺴기 */
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png"); /* 현재 상태로는 main.css 버튼색상 별도 초기화하지 않아 적용이 안되는 것 */
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1; /* slide 요소보다 더 위에 쌓이게 */
  cursor: pointer;
  /* outline: none; */
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}